<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <main>
      <div class="container">
        <%= render 'shared/alerts' %>
        <%= yield %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
